replicaCount: 1

image:
  repository: easyshift-maas
  tag: "0.2.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8000

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 256Mi

secrets:
  redisConnEnv: EASYSHIFT_REDIS_CONN
  redisConnSecretName: ""
  redisConnSecretKey: ""
  mysqlConnEnv: EASYSHIFT_MYSQL_CONN
  mysqlConnSecretName: ""
  mysqlConnSecretKey: ""
